.container {
    height: 100vh;

    .card {
        margin-bottom: auto;
        width: 28rem;
        height: 30rem;
        position: absolute;
        right: 50%;
        transform: translate(50%, 20%);
        box-shadow: 14px 14px 14px 14px rgba(0, 0, 0, 0.11);
        background: white;
        border-radius: 1rem;

        // border: 1px solid red;


        img:nth-child(1) {
            width: 28rem;
            border-radius: 1rem 1rem 0 0;
        }

        img:nth-child(2) {
            width: 7.5rem;
            position: absolute;
            top: 25%;
            right: 36.5%;
            border: 5px solid white;
            border-radius: 50%;
    }
        

    }
}