:root {
    // COLORS
    --Dark-cyan: hsl(185, 75%, 39%);
    --Very-dark-desaturated-blue: hsl(229, 23%, 23%);
    --Dark-grayish-blue: hsl(227, 10%, 46%);
    
    --Dark-gray: hsl(0, 0%, 59%);

    // FONTS 
    --Font-size: 18px;
    --fontFamily: 'Kumbh Sans', sans-serif;
}
